<div class="page-header">
  <h1>Orders</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Adress</th>
      <th>Postal code</th>
      <th>City</th>
      <th>Items</th>
      <th>Total price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.first_name %></td>
        <td><%= order.last_name %></td>
        <td><%= order.email %></td>
        <td><%= order.adress %></td>
        <td><%= order.postal_code %></td>
        <td><%= order.city %></td>
        <td><%= order.line_items.count %></td>
        <td><%= number_to_currency(order.total_price) %></td>
        <td>
          <div class="btn-group pull-right">
            <%= link_to raw("<i class=\"icon-eye-open\"></i>"),
                      order_path(order), :class => 'btn btn-mini' %>
            <%= link_to raw("<i class=\"icon-pencil\"></i>"),
                      edit_order_path(order), :class => 'btn btn-mini' %>
            <%= link_to raw("<i class=\"icon-remove\"></i>"),
                      order_path(order),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure?' },
                      :class => 'btn btn-mini btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>