<div class="page-header">
  <h1>Order <%= @order.id %></h1>
</div>

<div class="row">
  <div class="span4">
    <div class="well">
      <h3>Customer info</h3>
      <table class="table table-striped">
        <tr>
          <td><strong>First name</strong></td>
          <td><%= @order.customer.first_name %></td>
        </tr>
        <tr>
          <td><strong>Last name</strong></td>
          <td><%= @order.customer.last_name %></td>
        </tr>
        <tr>
          <td><strong>Email</strong></td>
          <td><%= @order.customer.email %></td>
        </tr>
        <tr>
          <td><strong>Address</strong></td>
          <td><%= @order.customer.address %></td>
        </tr>
        <tr>
          <td><strong>Postal code:</strong></td>
          <td><%= @order.customer.postal_code %></td>
        </tr>
        <tr>
          <td><strong>City</strong></td>
          <td><%= @order.customer.city %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h3>Order details</h3>
      <table class="table table-striped">
        <tr>
          <th>Product</th>
          <th>Amount</th>
          <th>Price</th>
        </tr>
        <% @order.line_items.each do |line_item| %>
          <tr>
            <td><%= line_item.product.name %></td>
            <td><%= line_item.amount %></td>
            <td><%= number_to_currency(line_item.price) %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><strong>Total</strong></td>
          <td><%= number_to_currency(@order.total_price) %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="form-actions">
      <%= link_to "Back", orders_path, :class => 'btn'  %>
      <%= link_to "Edit", edit_order_path(@order), :class => 'btn' %>
      <%= link_to "Destroy", order_path(@order),
                  :method => 'delete',
                  :data => { :confirm => "Are you sure?" },
                  :class => 'btn btn-danger' %>
    </div>
  </div>
</div>
