<div class="row">
  <div class="span<%= span %> offset<%= offset %>">
    <div class="well">
      <div class="comment-content">
        <p class="pull-left">
          <%= comment.content %>
        </p>
        <div class="comment-details pull-right">
          <h5><%= "#{comment.customer.first_name} #{comment.customer.last_name}" %></h5>
          <span class="time"><%= comment.created_at.strftime("%d-%m-%Y %H:%M") %></span>
          <%= rating_stars comment.rating %>
        </div>
      </div>
      <% if @current_user && @current_user.customer? %>
        <div class="comment-footer">
          <%= link_to raw("<i class=\"icon-reply\"></i> Reply"),
                      new_comment_path(
                        :parent_id => comment.id,
                        :product_id => @product.id),
                      :remote => true %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% if comment.children.count > 0 %>
  <% comment.children.each do |comment| %>
    <% if comment.level == level %>
      <%= render :partial => "pages/comment", :locals => { :comment => comment, :span => (span-1), :offset => (offset+1), :level => level+1 } %>
    <% end %>
  <% end %>
<% end %>