<div class="row">
  <div class="span<%= span %> offset<%= offset %>">
    <div class="well">
      <p class="pull-left">
        <%= comment.content %>
      </p>
      <a href="#" class="reply-btn"><i class="icon-reply"></i></a>
      <div class="comment-details pull-right">
        <h5><%= "#{comment.customer.first_name} #{comment.customer.last_name}" %></h5>
        <span class="time"><%= comment.created_at.strftime("%d-%m-%Y %H:%M") %></span>
        <%= rating_stars comment.rating %>
      </div>
    </div>
  </div>
</div>
<% if comment.children.count > 0 %>
  <% comment.children.each do |comment| %>
    <% if comment.level == level %>
      <%= render :partial => "pages/comment", :locals => { :comment => comment, :span => (span-1), :offset => (offset+1), :level => level+1 } %>
    <% end %>
  <% end %>
<% end %>