<div class="page-header">
  <h1>
    <%= link_to "The Store", root_path %> -
    <%= @product.name %>
  </h1>
</div>

<div class="row">
  <div class="span8 product-display">
    <div class="row">
      <div class="span4">
        <h3 style="margin-top:0px">Description</h3>
        <p><%= @product.description %></p>
        <table class="table table-condensed">
          <tr>
            <td><strong>Price</strong></td>
            <td><%= number_to_currency @product.price %></td>
          </tr>
          <tr>
            <td><strong>In stock</strong></td>
            <td><%= @product.quantity %> piece(s)</td>
          </tr>
          <tr>
            <td><strong>Customer rating</strong></td>
            <td><%= rating_stars @product.average_rating %></td>
          </tr>
        </table>
      </div>
      <div class="span4">
        <img src="<%= @product.image_url %>">
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <div class="form-actions">
          <%= link_to "Back",
                      root_path,
                      :class => "btn" %>
          <%= link_to "Add to cart",
                      line_items_path(:product_id => @product),
                      :method => 'post',
                      :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <div class="page-header">
          <h3>
            <i class="icon-comment"></i> Comments
            <% if @current_user && @current_user.customer? %>
             <small>
              <%= link_to "Add new comment",
                        new_comment_path(:parent_id => nil, :product_id => @product.id),
                        :remote => true,
                        :class => "" %>
            </small>
          <% end %>
          </h3>
        </div>
        <div class="comments">
          <% if @product.comments.any? %>
            <% @product.comments.each do |comment| %>
              <% if comment.level == 0 %>
                <%= render :partial => "pages/comment", :locals => { :comment => comment, :span => 8, :offset => 0, :level => 1 } %>
              <% end %>
            <% end %>
          <% else %>
            <p>No comments yet, <%= "log in to your account and " unless @current_user && @current_user.customer? %>add the first one!</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>