<div class="page-header">
  <h1>Products</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= truncate(product.description) %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= product.quantity %></td>
        <td>
          <div class="btn-group pull-right">
            <%= link_to raw("<i class=\"icon-pencil\"></i>"),
                      edit_product_path(product), :class => 'btn btn-mini' %>
            <%= link_to raw("<i class=\"icon-remove\"></i>"),
                      product_path(product),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure?' },
                      :class => 'btn btn-mini btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Product',
            new_product_path,
            :class => 'btn btn-primary' %>
